{% extends 'base.html.twig' %}

  {% block stylesheet %}
      {{ parent() }}
      <!-- Style page homepage-->
      <link rel="stylesheet" href="{{ asset('Public/css/shop-homepage.css') }}">
      <link rel="stylesheet" href="{{ asset('Public/css/shop-item.css') }}">
      <link rel="stylesheet" href="{{ asset('Public/css/heroic-features.css') }}">
  {% endblock %}

{% block title %}
    Mon site
{% endblock %}

{% block  body %}

    {% include ':Public/Partials:main-navigation.html.twig' %}
    <div class="container">
        <div class="row">
            {% block content %}


            {% endblock %}
        </div>

    </div>
    <!-- /.container -->

    {% include ':Public/Partials:main-footer.html.twig' %}

{% endblock %}