{% extends 'base.html.twig' %}
{% block title %}
  Mon site
{% endblock %}

{% block  body%}

{% include ':Public/Partials:main-navigation.html.twig' %}
  <div class="container" style="padding-top: 70px">
  <div class="row">
  {% block content %}


  {% endblock %}
  </div>

  </div>
  <!-- /.container -->

  {% include ':Public/Partials:main-footer.html.twig' %}

{% endblock %}