{% extends ':default:bloc-mere.html.twig' %}
{% block title %} block fille {% endblock %}
{% block meta %} ici la description du site block fille {% endblock %}   

{% block titre %}
    {{ parent() }}

    <h2>ceci est le block fille</h2>

{% endblock %}
{% block titre %}
    {{ parent() }}

    <h2>ceci est le block fille</h2>

{% endblock %}